.sidebar {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background-color: lightgreen;
  color: white;
  min-height: 100%;
}

.searchbar {
  margin-left: 5px;
  margin-right: 5px;
}
