.App {
  text-align: left;
  background-color: #F7FCF9;
  display: grid;
  grid-template-columns: 20% 80%;
}

.Signup {

}

.writingsection {
  background-color: lightgreen;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background-color: lightgreen;
  color: white;
  min-height: 100%;
}


.allnotes {
  display: grid;
  grid-template-columns: 35% 65%;
}

.searchbar {
  margin-left: 5px;
  margin-right: 5px;
}

.writingform {
  margin-left: 10px;
}



.titlebox {

}

.midsection {
  background: #F7FCF9;
  min-height: 100%;
}
